﻿html {
    background-color: #222224;
}

/* Show backgrounds on brand items too */
.navbar-brand a.navbar-item:focus, .navbar-brand a.navbar-item:hover {
    background-color: #fafafa;
}

.button {
    border-radius: unset !important;
}

.sp-imagelist {
    line-height: 0;
}

.sp-imagelist-item {
    padding-bottom: var(--columnGap);
    padding-top: var(--columnGap);
}

    .sp-imagelist-item > img {
        width: 100%;
    }
