﻿<nav class="navbar is-dark" uk-navbar>
    <div class="container is-fluid">
        <div class="navbar-brand">
            <NavLink class="navbar-item is-size-4 has-text-white has-text-weight-light" href="/">
                Sapphirite
            </NavLink>

            <a class="navbar-item" href="#">
                Item #1
            </a>

            <a class="navbar-item" href="#">
                Item #2
            </a>
        </div>
    </div>
</nav>