﻿@page "/"
@inject IPrerenderState PrerenderState;

<section class="section">
    <div class="container is-fluid">
        <div class="columns is-mobile">
            <h1 class="column title has-text-light has-text-weight-light is-marginless">
                Latest
            </h1>
            <div class="column is-narrow">
                <NavLink href="/submit" class="button is-info is-inverted is-outlined">Submit</NavLink>
            </div>
        </div>

        <div class="columns is-multiline is-mobile is-gapless sp-imagelist">
            @foreach (var image in Images)
            {
                <div class="column is-1-fullhd is-2-desktop is-3-tablet is-6-mobile is-relative sp-imagelist-item">
                    <img src="@image" />
                </div>
            }
        </div>
    </div>
</section>

@code {
    public List<string> Images { get; set; } = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        Images = await PrerenderState.LoadOrStore(() =>
        {
            var random = new Random();

            for (var i = 0; i < 20; i++)
            {
                // 350 is the rough max size thumbnails can be in this view
                var size = random.Next(350, 500);

                var image = $"https://placeimg.com/{size}/{size}/any";

                Images.Add(image);
            }

            return Images;
        });
    }
}