﻿@page "/"
@namespace Sapphirite.Frontend.Server.Pages
@using Sapphirite.Frontend.Client
@inject IPrerenderState PrerenderState
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Sapphirite</title>
    <base href="/" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" integrity="sha256-vK3UTo/8wHbaUn+dTQD0X6dzidqc5l7gczvH+Bnowwk=" crossorigin="anonymous" />
    <link href="site.css" rel="stylesheet" />
    <script src="site.js"></script>
</head>
<body>
    <app>@(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))</app>

    <script src="_framework/blazor.webassembly.js"></script>
    <script id="prerender-data" type="application/json">
        @Html.Raw(PrerenderState.StoredJson)
    </script>
</body>
</html>
